<!--
<ul>
    <li class="list-unstyled m-1" *ngFor="let product of products" style="font-size: x-small;">
        {{product?.name}}
    </li>
</ul> -->

<br>
<div class="container">
  <div class="row mt-1">
    <section class="col-3">

      <ng-container *ngIf="types && brands">
        <h5 class="text-warning ml-3">Sort</h5>
        <select class="custom-select mb-3" (change)="onSortSelected($event)" style="height: 2rem; border-color: blue; border-radius: 10px; padding-left: 12px; width: 98%;">
          <option *ngFor="let s of sortOptions"
            [selected]="sort === s.value"
            [value]="s.value">
            {{s.name}}
          </option>
        </select>

        <h5 class="text-warning ml-3">Brands</h5>
        <ul class="list-group my-3">
          <li class="list-group-item" *ngFor="let brand of brands"
            [class.active]="brand.id === brandId"
            [value]="brand.id"
            (click)="onBrandIdSelected(brand.id)">
            {{brand.name}}
          </li>
        </ul>

        <h5 class="text-warning ml-3">Types</h5>
        <ul class="list-group my-3">
          <li class="list-group-item" *ngFor="let type of types"
            [class.active]="type.id === typeId"
            [value]="type.id"
            (click)="onTypeIdSelected(type.id)">
            {{type.name}}
          </li>
        </ul>
      </ng-container>

    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-4">
        <app-page-header
          [count]="count"
          [pageSize]="pageSize"
          [page]="page">
        </app-page-header>


        <div class="d-flex justify-content-between align-items-center">
          <input
          type="text"
          #search
          (keyup.enter)="onSearch()"
          class="form-control inline-form mx-2 shadow-sm"
          style="width: 300px"
          placeholder="Search"
          />
          <button class="btn btn-sm btn-outline-primary mx-2 shadow-sm" (click)="onSearch()">Search</button>
          <button class="btn btn-sm btn-outline-success shadow-sm" (click)="onReset()">Reset</button>
        </div>
      </div>


      <div class="row">
        <div class="col-4 mb-3" *ngFor="let p of products">
          <app-product-item [product]="p"></app-product-item>
        </div>
      </div>


      <div class="d-flex justify-content-center mt-3" *ngIf="count > 0">
        <app-pager
          [pageSize]="pageSize"
          [count]="count"
          [page]="page"
          (pageChanged)="onPageChanged($event)">
        </app-pager>
      </div>
    </section>
  </div>
</div>


