.list-group-item {
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  font-size: 1rem;

  &:focus {
      outline: none;
  }

  &.active {
      border-radius: 10px;
      background-color: blue;
      box-shadow: 1px 1px 10px rgb(220, 225, 226);
  }

  &:not(.active):hover {
      color: #fff;
      background-color: rgba(44, 171, 255, 0.8);
      border-radius: 10px;
  }
}
