<nav class="navbar navbar-light bg-light border-bottom shadow-sm">
  <div class="container-fluid justify-content-between">
    <div>
      <a class="navbar-brand px-3 text-uppercase" href="/">
        <img src="/assets/images/BigAlsCanada.png" width="35" height="35">
        <span style="margin-left: 1rem; font-size: medium; font-weight: bold;">BigAl's</span>
      </a>
      <a class="px-4" style="font-size: medium;" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a>
      <a class="px-4" style="font-size: medium;" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class="px-4" style="font-size: medium;" routerLink="/test-error" routerLinkActive="active">Error</a>
    </div>
    <div class="d-flex align-items-center text-uppercase">
      <div class="px-5">
        <a class="position-relative" routerLink="/basket">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
          <span *ngIf="itemNumber != undefined && itemNumber > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5rem;">
            {{itemNumber}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
      </div>

      <ng-container *ngIf="user === null">
        <a  style="font-size: small;" class="btn btn-primary mx-2 text-white shadow-sm" routerLink="/account/login">Login</a>
        <a  style="font-size: small;" class="btn btn-warning mx-2 text-white shadow-sm" routerLink="/account/register">Sign up</a>
      </ng-container>

      <ng-container *ngIf="user">

        <div class="dropdown ml-3 mr-5" dropdown>

          <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
            <strong>Welcome {{user?.displayName}}</strong>
          </a>

          <div class="dropdown-menu dropdown-menu-right" style="cursor:pointer" *dropdownMenu>

            <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-shopping-cart" style="margin-right: 1rem; color: blue;"></i> View Basket
            </a>

            <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-history" style="margin-right: 1rem; color: blue;"></i> View Orders
            </a>

            <div class="dropdown-divider"></div>

            <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-sign-out" style="margin-right: 1rem; color: rgb(200, 160, 0);"></i> Logout
            </a>
          </div>

        </div>

      </ng-container>

    </div>
  </div>
</nav>

